*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: $primary-font;
    background-image: url(../IMG/bg-top.svg), url(../IMG/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: top right, center bottom;
}