.bg-top {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 70%;
    max-width: 50%;
    z-index: 0;
}
  
.bg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 40%;
    max-width: 50%;
    z-index: 0;
}

.homepage-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $grayish-blue;
    margin: -50px 0px 0px 0px;
}

.annual-text {
    margin: 0px 20px 0px 0px;
    font-size: 14px;
}

.monthly-text {
    margin: 0px 0px 0px 20px;
    font-size: 14px;
}

.switch-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 22px;
    color: $light-grayish-blue;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right,#a3a8f0, #696fdd);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-image: linear-gradient(to right,#a3a8f0, #696fdd); 
}
  
input:hover + .slider:hover {
    background-color: #b3b5c6;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.flex-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: auto;
    z-index: 1;
    margin: 40px 0px 0px 0px;
}

.basic-card-container {
    display: flex;
    z-index: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 400px;
    background-color: #ffffff;
    margin: 12px 0px 0px 0px;
    padding: 10px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    box-shadow: 0px 0px 12px -8px;
    width: 350px;
}

.basic-containter{
    text-align: center;
}

.basic-h1 {
    color: #000000;
}

.basic-price {
    color: #000000;
    font-size: 42px;
}

.basic-text {
    color: #000000;
}

.basic-button-container {
    margin: 20px 0px 20px 0px;
}

.basic-button {
    border: none;
    background-image: linear-gradient(to right, #a3a8f0, #696fdd );
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 35px;
    
    > h1 {
        font-size: 12px;
    }
}

.basic-button:hover {
    background-image: none;
    background-color: transparent;
    border: 1px solid #696fdd;
    color: #696fdd;
    cursor: pointer;
}

.professional-card-container {
    display: flex;
    z-index: 2;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
    margin: 0px 0px 0px 0px;
    padding: 10px;
    border-radius: 14px;
    width: 350px;
    height: auto;
}

.professional-containter{
    text-align: center;
}

.professional-h1 {
    color: #ffffff;
}

.professional-price {
    color: #ffffff;
    font-size: 42px;
}

.professional-text {
    color: #ffffff;
}

.professional-button-container {
    margin: 20px 0px 20px 0px;
}

.professional-button {
    border: none;
    background-color: white;
    border-radius: 4px;
    color: #696fdd;
    text-align: center;
    width: 200px;
    height: 35px;
    
    > h1 {
        font-size: 12px;
    }
}

.professional-button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.master-card-container {
    display: flex;
    z-index: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 400px;
    background-color: #ffffff;
    margin: 12px 0px 0px 0px;
    padding: 10px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    width: 350px;
    box-shadow: 0px 0px 12px -8px;
}

.master-containter{
    text-align: center;
}

.master-h1 {
    color: #000000;
}

.master-price {
    color: #000000;
    font-size: 42px;
}

.master-text {
    color: #000000;
}

.master-button-container {
    margin: 20px 0px 20px 0px;
}

.master-button {
    border: none;
    background-image: linear-gradient(to right, #a3a8f0, #696fdd );
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 35px;
    
    > h1 {
        font-size: 12px;
    }
}

.master-button:hover {
    background-image: none;
    background-color: transparent;
    border: 1px solid #696fdd;
    color: #696fdd;
    cursor: pointer;
}

.professional-top-line {
    border-bottom: 1px solid #ffffff;
}

.professional-mid-line {
    border-bottom: 1px solid #ffffff;
}

.professional-mid-line2 {
    border-bottom: 1px solid #ffffff;
}

.professional-bottom-line {
    border-bottom: 1px solid #ffffff;
}

.basic-top-line {
    border-bottom: 1px solid #696fdd;
}

.basic-mid-line {
    border-bottom: 1px solid #696fdd;
}

.basic-mid-line2 {
    border-bottom: 1px solid #696fdd;
}

.basic-bottom-line {
    border-bottom: 1px solid #696fdd;
}

.master-top-line {
    border-bottom: 1px solid #696fdd;
}

.master-mid-line {
    border-bottom: 1px solid #696fdd;
}

.master-mid-line2 {
    border-bottom: 1px solid #696fdd;
}

.master-bottom-line {
    border-bottom: 1px solid #696fdd;
}